<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf8">
  	<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/mid/css/all.css' />
  </head>
  <body>

    <div class="Q-box">
    	<div class="Q-page">
    		<header class="bar"><h1 class="title">登录<h1></header>
    		<div class="content">
    			<aside class="banner"></aside>
    			<section>
    				
    			</section>
    			<section>
    				
    			</section>
    		</div>
    	</div>
    </div>

    <script type="text/javascript" src="/libs/zepto/zepto.js"></script>
    <script type="text/javascript" src='/mid/scripts/common.js'></script>
  </body>
</html>
